#reqspec
  #header-region
    .navbar.navbar-top.navbar-static-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href='/#') Reqspec
          .container.nav-collapse
            #main-nav-region
            #sub-nav-region

  .container
    #push
    #main-region
    %footer#footer-region

= content_for :after_javascript do
  :javascript
    $(function () {
      Reqspec.start();
    })
